.DS_Store
.vs/
cpuid
hexstr-c
hexstr-intrin
hexstr-x64
hexstr-sse
hexstr-avx
decstr-c
decstr-intrin
decstr-x64
decstr-sse
decstr-avx
a32cpuid
a64cpuid
hexstr-a64c
hexstr-a64intrin
hexstr-a64asm
hexstr-a64neon
hexstr-a32c
hexstr-a32intrin
hexstr-a32asm
hexstr-a32neon
hexstr-thumb
a.out
*.exe
*.o
*.obj

