.DS_Store
.vs/
cpuid
hexstr-c
hexstr-intrin
hexstr-x64
hexstr-sse
hexstr-avx
decstr-x64
decstr-sse
decstr-avx
hexstr-a64c
hexstr-a64intrin
hexstr-a64asm
hexstr-neon64
hexstr-a32c
hexstr-a32intrin
hexstr-a32asm
hexstr-neon32
hexstr-thumb
a.out
*.exe
*.o
*.obj

